{% extends "template.html" %}

{% block app_content %}

<div class="container">
    <h1>Teacher Gradebook</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div style="display: inline-block;">
        	Teacher Name:
            {{ form.search(size=32) }}
            {{ form.submit() }}
        </div>
    </form>

    {% if classes %}
		{% for class in classes %}

		<table class="table table-striped table-sm">
		    <thead>
		        <tr>
		            <th> {{class[1]}}'s Classes </th>
		        </tr>
		    </thead>
		    <tbody id="tablebody">
		        <tr>
		            <td> {{class[2]}}</td>
		        </tr>
		        <tr>
		            <td> {{class[3]}}</td>
		        </tr>
		        <tr>
		            <td> {{class[4]}}</td>
		        </tr>
		        <tr>
		            <td> {{class[5]}}</td>
		        </tr>		     
		    </tbody>
		</table>
		{% endfor %}
    {% endif %}    
    {% if noresults %}
    No results.
    {% endif%}   
</div>
{% endblock %}